// @import "../variables/colors.scss";
// @import "../variables/variables.scss";
// color function
@function determinColor($color) {
  @if (lightness($color) > 65) {
    // @return darken($color, (100 - lightness($color)));
    @return darken($color, 50);
  } @else {
    @return lighten($color, lightness($color));
  }
}
// exponential function
@function pow($number, $exponent) {
  $value: $min;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }
  @return $value;
}

@function transitionFunct($node) {
  // @if node  = array
  // @else node is single
  @return $node;
}
@mixin fg($num) {
  flex-grow: $num;
}

@function screenQueryMax($x) {
  @return 'screen and (max-width: #{$x}) ';
}
@function screenQueryMin($x) {
  @return 'screen and (max-width: #{$x}) ';
}
// @media #{screenQueryMin(1024px)} {
// }
// @media #{screenQueryMax(#{$minScreenSize}px)} {
// }

//////////////
// $var : fntsz400;
// .button {
//   @extend .#{$var};
// }
