@import "../variables/variables.scss";
@import "../variables/colors.scss";
@import "../functions/functions.scss";

@mixin NavigationPartial {
  nav {
    div {
      @extend .db;
      @extend .w100;
    }
    a,
    span {
      @extend .db;
      @extend .color-secondary400;
      @extend .tdn;
      @extend .fntsz100;
      @extend .fw600;
      @extend .ttu;
      @extend .border-solid;
      @extend .bbw100;
      @extend .btw000;
      @extend .blw000;
      @extend .brw000;
      @extend .bdc-grey200;
      @extend .pad100;
      transition: background-color 0.5s ease, color 0.5s ease;
    }
    // a:hover {
    //   @extend .bgc-grey200;
    //   @extend .color-secondary300;
    // }
    span {
      @extend .color-grey400;
    }
    &.testing123 {
      display: none !important;
    }
    a {
      & ~ ul {
        @extend .mah000;
        @extend .ovh;
        transition: transitionFunct(max-height);
        &:hover {
          @extend .mah1000;
          background-color: rgba(0, 0, 0, 0.15);
        }
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.25);
        & ~ ul {
          @extend .mah1000;
        }
      }
    }
    ul {
      li {
        @extend .lstn;
        // @extend .ovh;
        // & > ul {
        //   @extend .bgc-primary300;
        //   transition: height 0.25s ease;
        // }
        // > a {
        //   &:hover {
        //     ~ ul {
        //       height: auto;
        //     }
        //   }
        // }
        // &:hover {
        //   & > ul {
        //     height: auto;
        //   }
        // }
      }
    }
    //navigation types
    &.standard {
      background-color: $white;
      ul {
        @extend .pad0px;
      }
      a {
        background-color: $white;
        @extend .color-secondary400;
        // &:hover {
        //   @extend .bgc-primary300;
        //   @extend .color-secondary300;
        // }
      }
      & > ul {
        @extend .df;
        @extend .ais;
        @extend .jcsa;
        @extend .posr;
        & > li {
          @extend .fxg100;
          @extend .posr;
          @extend .p0;
          & > ul {
            @extend .zi100;
            @extend .posa;
            @extend .transX;
            @extend .t-100;
            @extend .w100;
            @extend .bxshVert2;
            & li {
              @extend .w100;
              @extend .p0;
            }
          }
        }
      }
    }
    &.flyOut {
      .mobile-nav-icon,
      .mobile-nav-click {
        @extend .db;
      }
      .mobile-nav-click:checked {
        & ~ .mobile-nav-icon {
          div {
            &:nth-of-type(1) {
              transform: translateX(-50%)rotate(-45deg);
              top: 50%;
            }
            &:nth-of-type(2) {
              @extend .h-0px;
            }
            &:nth-of-type(3) {
              transform: translateX(-50%)rotate(45deg);
              top: 50%;
            }
          }
          & ~ ul {
            @extend .l-00;
          }
        }
      }
      & > ul {
        left: -40vw;
        transition: left 0.5s ease;
        @extend .posf;
        @extend .vh100;
        @extend .vw20;
        @extend .t-00;
        @extend .zi1;
        @extend .bxsh3;
        @extend .bgc-primary400;
        &.left {
          @extend .l-00;
        }
        &.right {
          @extend .r-00;
        }
        &.primary {
          @extend .bgc-primary400;
        }
        &.secondary {
          @extend .bgc-secondary400;
        }
        li {
          @extend .p0;
          a {
            @extend .color-white;
            @extend .bdc-primary300;
          }
        }
        & > li {
          a {
            @extend .zi1;
            @extend .posr;
          }
          // &:hover {
          //   & > a {
          //     @extend .bgc-primary200;
          //     @extend .bxshVert1;
          //   }
          // }
          // li {
          //   &:hover {
          //     & > a {
          //       @extend .bgc-primary300;
          //     }
          //   }
          // }
        }
      }
      a {
        &:hover {
        }
      }
      ul {
        @extend .modernize;
      }
    }
    &.sticky {
      @extend .posf;
      @extend .bgc-white;
      & > ul {
        @extend .df;
        @extend .modernize;
      }
      &.left {
        @extend .l-00;
        @extend .t-00;
        & > ul {
          @extend .fxdc;
          @extend .vw20;
        }
      }
      &.right {
        @extend .r-00;
        @extend .t-00;
        & > ul {
          @extend .fxdc;
          @extend .vw20;
        }
      }
      &.top {
        @extend .t-00;
        & > ul {
          @extend .fxdr;
          @extend .vw100;
          @extend .jcsb;
          & > li {
            @include fg(1);
          }
        }
      }
      &.bottom {
        @extend .b-00;
        & > ul {
          @extend .fxdr;
          @extend .vw100;
          @extend .jcsb;
          & > li {
            @include fg(1);
          }
        }
      }
    }
  }
  .mobile-nav-click {
    @extend .dn;
    height: $mobileNavHeight;
    width: $mobileNavWidth;
    @extend .posf;
    @extend .cursorP;
    top: 1rem;
    right: 1rem;
    @extend .zi2;
    @extend .cursorP;
    appearance: none;
    -webkit-appearance: none;
    @extend .m0;
    &:focus {
      @extend .oln;
    }
  }
  .mobile-nav-icon {
    @extend .dn;
    @extend .zi1;
    height: $mobileNavHeight;
    width: $mobileNavWidth;
    @extend .posf;
    top: 1rem;
    right: 1rem;
    & > div {
      height: $mobileNavBarHeight;
      @extend .w100;
      @extend .dib;
      @extend .bgc-primary;
      @extend .posa;
      &:nth-of-type(1) {
        @extend .t-00;
        @extend .transX;
        transition: transitionFunct(all);
      }
      &:nth-of-type(2) {
        @extend .trans;
        transition: transitionFunct(height);
      }
      &:nth-of-type(3) {
        top: calc(100% - #{$mobileNavBarHeight});
        @extend .transX;
        transition: transitionFunct(all);
      }
    }
    // @media screen and (max-width:#{$minScreenSize}px) {
    //   display: block;
    // }
  }
}
