@import "../functions/_functions.scss";

// $primary : rgb(17, 39, 78);
$primary: determinColor(rgb(173, 220, 202));
// $secondary: #4c1224;
$secondary: determinColor(rgb(254, 210, 183));

@function getColorVal($color, $exp) {
  $percent: (100 - lightness($primary)) / 10;
  @return lighten($color, $percent * $exp);
}

// @for $i from 0 to 9 {
//   $percent: (100 - lightness($primary)) / 10;
//   $primary#{$i}00: lighten($primary, $precent * $i);
//   $secondary#{$i}00: lighten($secondary, $precent * $i);
// }

$primary900: getColorVal($primary, 10);
$primary800: getColorVal($primary, 9);
$primary700: getColorVal($primary, 8);
$primary600: getColorVal($primary, 7);
$primary500: getColorVal($primary, 6);
$primary400: getColorVal($primary, 5);
$primary300: getColorVal($primary, 4);
$primary200: getColorVal($primary, 3);
$primary100: getColorVal($primary, 2);
$primary000: getColorVal($primary, 1);
$secondary900: getColorVal($secondary, 10);
$secondary800: getColorVal($secondary, 9);
$secondary700: getColorVal($secondary, 8);
$secondary600: getColorVal($secondary, 7);
$secondary500: getColorVal($secondary, 6);
$secondary400: getColorVal($secondary, 5);
$secondary300: getColorVal($secondary, 4);
$secondary200: getColorVal($secondary, 3);
$secondary100: getColorVal($secondary, 2);
$secondary000: getColorVal($secondary, 1);
$white: #ffffff;
$black: #1b1b1b;
$ltGrey: #d8d8d8;
$green400: #1ad41a;
$grey900: lighten($black, 90);
$grey800: lighten($black, 80);
$grey700: lighten($black, 70);
$grey600: lighten($black, 60);
$grey500: lighten($black, 50);
$grey400: lighten($black, 40);
$grey300: lighten($black, 30);
$grey200: lighten($black, 20);
$grey100: lighten($black, 10);

$colorArray: (
   ("primary", $primary),
   ("primary900", $primary900),
   ("primary800", $primary800),
   ("primary700", $primary700),
   ("primary600", $primary600),
   ("primary500", $primary500),
   ("primary400", $primary400),
   ("primary300", $primary300),
   ("primary200", $primary200),
   ("primary100", $primary100),
   ("primary000", $primary000),
   ("secondary", $secondary),
   ("secondary900", $secondary900),
   ("secondary800", $secondary800),
   ("secondary700", $secondary700),
   ("secondary600", $secondary600),
   ("secondary500", $secondary500),
   ("secondary400", $secondary400),
   ("secondary300", $secondary300),
   ("secondary200", $secondary200),
   ("secondary100", $secondary100),
   ("secondary000", $secondary000),
   ("green400", $green400),
   ("ltGrey", $ltGrey),
   ("white", $white),
   ("black", $black),
   ("grey900", $grey900),
   ("grey800", $grey800),
   ("grey700", $grey700),
   ("grey600", $grey600),
   ("grey500", $grey500),
   ("grey400", $grey400),
   ("grey300", $grey300),
   ("grey200", $grey200),
   ("grey100", $grey100)
);
