$ltGrey : #d8d8d8;
$primary : #387ef5;
$blue600 : #091B39;
$blue400 :#09379E;
$blue300: #1850D7;
$blue100: #90adf3;
$blue000:#dae5ff;
$red800: #4e1615;
$red400 : #CA3A35;
$red100 : #ffdfde;
$green400: #1ad41a;
$grey500 : #3F3B3B;
$grey400 : #7E7E7E;
$grey300 : #D1D1D1;
$grey200 : #e0e0e0;
$grey100 : #e8e8e8;
$white: #ffffff;
$black : #1B1B1B;

$colorArray: (
  ("ltGrey", $ltGrey),
  ("primary", $primary),
  ("blue600", $blue600),
  ("blue400", $blue400),
  ("blue300", $blue300),
  ("blue100", $blue100),
  ("blue000", $blue000),
  ("red800", $red800),
  ("red400", $red400),
  ("red100", $red100),
  ("green400", $green400),
  ("grey500", $grey500),
  ("grey400", $grey400),
  ("grey300", $grey300),
  ("grey200", $grey200),
  ("white", $white),
  ("black", $black)
);
